@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg{
    background-color: orange;
    height: 150vh;
    background-size: cover;
}
.carousel1{
    padding: 21px;
}

.heading{
    color: white;
    font-size: 40px;
    font-family: roboto;
    font-weight: bold;
    padding: 20px;
}

.butt{
    color: orange;
    background-color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    width: 20vw;
    height: 5vh;
    font-weight: 600;
    

}
.butpad{
    padding: 20px;
}

.para{
    color: white;
    padding: 20px;

}

.similar{
    padding: 20px;
    color: white;
}
.padright{
    padding-right: 28px;
}
.padleft{
    padding-left: 28px;
}
